body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../register&login_form/photo/mountains-1412683.png);
    font-family: 'Montserrat', sans-serif;
}

.regis {
    background-color: #ffff;
    width: 600px;
    height: 60vh;
    position: absolute;
    border-radius: 5px;
    box-sizing: border-box;
    position: absolute;
    align-self: center !important;
    justify-content: center !important;
    align-items: center !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.regis h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.regis h3::before {
    content: '';
    border-bottom: 2px;
    background-color: #ffc0c3;
    position: absolute;
    height: 5px;
    width: 50px;
    border-radius: 3px;
    bottom: 0;
    left: 45%;
    margin-bottom: -10px;
    justify-content: center !important;
    align-items: center !important;
}

.regis h6 {
    text-align: center;
    font-size: 12px;
    color: #a8acb6;
    margin-top: 5px;
    font-weight: 400;

}

.regis p {
    font-size: 15px;
    font-weight: 450;
    margin: 5px;
    padding: 0;
    color: rgba(131, 129, 129, 0.671);
}


.regis p,
input {
    text-align: left;
    margin-left: 20px;
}

.regis form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.regis input {
    margin-bottom: 15px;
    width: 200px;
    height: 25px;
    border: none;
    border-bottom: 2px solid #302e40;
}


.exp p {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}


.social_icon a img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 52%;
}

.social_icon .fb_icon {
    margin-left: -35px;

}


/* .social_icon .google_icon {
    left: 52%;
} */

.regis_button input[type="submit"] {
    background-color: #f58e94;
    border: 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    height: 35px;
    color: #ffff;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    cursor: pointer;
}

.sign_in_button #sign_in {
    background-color: #a8acb6;
    border: 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    height: 35px;
    color: #ffff;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    left: 32%;
    position: absolute;
}

/* .sign_in input[type="submit"] {
    background-color: #a8acb6;
    display: block;
} */